{% extends 'base.html' %}

{% block meta %}
<title>Add List To Do</title>
{% endblock meta %}

{% block content %}
<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>


 <div class="header">
    <div class="header-user">Who's logged in: {{ user }}</div>
    
    <div class="header-button">
        <button><a href="{% url 'todolist:logout' %}">Logout</a></button>  
    </div>
</div>
<div class="body">
    <div class = "addtodolist">

        <h1>Add List To Do</h1>
            <form method="POST">
                <table>
                    {{form}}
                </table>
                
                {% csrf_token %}
                <button type="submit"> Tambahkan </button>
            </form>
    </div>
</div>


{% endblock content %}