{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>

 
<div class = "login-wrapper">

    <form method="POST" action="" class="form">
        <h1>Login</h1>
    
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="username" placeholder="Username" class="form-control" id="loginUser"/>
            <label for="loginUser">Username: </label>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="Password" class="form-control" id="loginPassword"/>
            <label for="loginPassword">Password: </label>
        </div>

             
        
    <p>Belum mempunyai akun?</p>
    <a href="{% url 'todolist:register' %}">Buat Akun</a>
    

    <input class="submit-btn" type="submit" value="Login"/>

    </form>
</div>

{% endblock content %}